body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

h1 {
  margin: 0;
}

.quotes {
  width: 400px;
  border-radius: 20px;
  border: 1px solid silver;
  padding: 1.5rem;
  font-style: italic;
}

.btn {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid silver;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(230, 230, 230);
}